@import "~rfs/scss";
@import 'parts/variables';
@import 'parts/icons';

%heading {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 700;
	color: $text_color_primary;
}

.edit-post-visual-editor {

    .editor-styles-wrapper {
        padding: 0 2rem;
        font-family: $font-family;
        background: $white;
    
        p,
        li,
        a {
            font-size: $base-font-size;
            font-family: $font-family;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: $font-family;
            font-weight: 700;
        }
    
        h1, .h1 {
            @extend %heading;
            @include font-size($h1-font-size);
        }
        
        h2, .h2 {
            @extend %heading;
            @include font-size($h2-font-size);
        }
        
        h3, .h3 {
            @extend %heading;
            @include font-size($h3-font-size);
        }
        
        h4, .h4 {
            @extend %heading;
            @include font-size($h4-font-size);
        }
        
        h5, .h5 {
            @extend %heading;
            @include font-size($h5-font-size);
        }
        
        h6, .h6 {
            @extend %heading;
            @include font-size($h6-font-size);
        }

        .color-white {
            color: $white !important;
        }

        
        
    }

}